body {
    font-family: Arial, sans-serif;
    background-color: black;
    text-align: center;
}

.Welcome-label {
    font-size: 20px;
    color: white;


}

#score-display {
    color: black;
    display: flex;

    font-size: 20px;
    font-family: 'Dela Gothic One', cursive;
    background-color: white;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}
.privacy-policy{
    position: fixed;
    bottom: 0;
    left: 50%;
    font-size: 12px;
    transform: translateX(-50%);    
}
.privacy-policy:hover{
      color: white;
    
}
.privacy-policy:active {
    color: white; /* Color to change to when active */
}
.privacy-policy:visited{
    color: wheat;
}

.point-value {

    color: red;

}

.start-title {
    font-family: 'Oi', cursive;
    color: white;
    border: #111 2px;
    font-size: 50px;

    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.quiz-container {
    padding: 100px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 900px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;

    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

    backdrop-filter: blur(15px);

}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#question {
    font-size: 25px;
    /* font-weight: bold; */
    padding: 10px;
    color: white;
    background-color: #111;
    border-radius: 20px;
    font-family: 'Dela Gothic One', cursive;

}

button {
    background-color: #007BFF;
    /* background-color: #4CAF50;   */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    display: inline-block;
    font-size: 16px;
}

.favicon-design {
    color: wheat;
}

#timer {
    font-size: 24px;
    margin-top: 50px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 15px;
    font-weight: bold;
}

#result {
    font-size: 18px;
    margin-top: 20px;
}

.input-disp-container {
    display: flex;
    flex-direction: column;

    gap: 10px;
}

#user-name-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;

}

#phone-number-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#options-container {
    display: flex;
    flex-direction: row;

    padding: 40px;
    justify-content: center;
    flex-grow: 2;
    flex-wrap: nowrap;
    gap: 50px;
}

.center-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

#restart-button {
    display: none;
}

.options-button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    font-size: 50px;

    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.options-button:hover {
    background-color: #fee6e3;
}

.timer-container {
    display: flex;
    /* background-color: plum; */

    border-radius: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}

.play-btn {
    color: #111;
}

/* CSS */
.options-button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter, sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.options-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.options-button:hover:after {
    transform: translate(0, 0);
}

.options-button:active {
    background-color: #ffdeda;
    outline: 0;
}

.options-button:hover {
    outline: 0;
}
.footer-container{
    color: wheat;
    font-size: 10px;
}
.quiz-container {
    z-index: 1;
}

.footer-container {
    z-index: 2;
}

/* Mobile Responsive Design */
@media screen and (max-width:800px) {
    #options-container {
        display: flex;
        flex-direction: column;
        gap: 10px;

        padding: 30px;
        justify-content: center;

    }

    .options-button {
        display: block;
        font-size: 16px;

        background-color: #ffdeda;
        color: black;
        border: black;
        border-radius: 5px;
        cursor: pointer;
        background-color: #fee6e3;
        border: 2px solid #111;
    }

    .options-button:after {
        background-color: #111;
        border-radius: 8px;
        content: "";
        display: block;
        height: 48px;
        left: 0;
        width: 100%;
        position: absolute;
        top: -2px;
        transform: translate(8px, 8px);
        transition: transform .2s ease-out;
        z-index: -1;
    }

    .options-button:hover:after {
        transform: translate(0, 0);
    }

    .options-button:active {
        background-color: #ffdeda;
        outline: 0;
    }

    .options-button:hover {
        outline: 0;
    }


}

.play-btn{
    background-color: white;
    /* border: #111 10px; */
    border-style: solid;
}
@media (min-width: 800px) {
    .options-button {
        margin-top: 10px;
        padding: 20px 40px;
    }
}


@media (min-width: 300px) and (max-width:700px) {
    .quiz-container {
      
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        max-width: 150px;
        max-height: 400px;
        margin: 0 auto;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translate(-50%, -50%);

        border: 1px solid rgba(255, 255, 255, .25);
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 0.45);
        box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

        backdrop-filter: blur(15px);

    }

    .Welcome-label {
        font-size: 20px;
    }

    #options-container {
        display: flex;
        flex-direction: row;
        height: 10px;
        padding: 50px 100px 100px 100px;
        width: 120px;
        flex-direction: row;


    }

    .start-title {
        font-size: 30px;
    }

    .input-disp-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* background-color: red; */
        padding: 50px;
    }

    #user-name-input {
        width: 100%;
        /* padding: 10px; */
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;

    }

    #phone-number-input {
        width: 100%;
        /* padding: 10px; */
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        font-size: 16px;
    }

    .play-btn{
        background-color: white;
        border-radius: 20px;
        
        font-size: 16px;
        font-weight: 700;
    }
}

#input-container {
    padding: 20px;
    /* background-color: wheat; */
    display: flex;
    flex-direction: column;
    align-self: center;
}

#question {
    font-size: 50px;
}

#start-screen {
    display: flex;
    flex-direction: column;
    /* background-color: #fee6e3; */
    padding: 30px;
    align-items: center;
}

/* CSS */
#start-button {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    width: 100px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#start-button:before {
    content: "";
    background: linear-gradient(45deg,
            #ff0000,
            #ff7300,
            #fffb00,
            #48ff00,
            #00ffd5,
            #002bff,
            #7a00ff,
            #ff00c8,
            #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}

@keyframes glowing-button-85 {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

#start-button:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}